<a href="https://colab.research.google.com/github/skaran786/Wipro-s-Sustainability-Machine-Learning-Challenge/blob/main/WiproCOmp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget https://developer.nvidia.com/compute/cuda/9.0/Prod/local_installers/cuda-repo-ubuntu1704-9-0-local_9.0.176-1_amd64-deb
!ls  # Check if required cuda 9.0 amd64-deb file is downloaded
!dpkg -i cuda-repo-ubuntu1704-9-0-local_9.0.176-1_amd64-deb
!ls /var/cuda-repo-9-0-local | grep .pub
!apt-key add /var/cuda-repo-9-0-local/7fa2af80.pub
!apt-get update
!sudo apt-get install cuda-9.0

--2022-01-27 12:48:57--  https://developer.nvidia.com/compute/cuda/9.0/Prod/local_installers/cuda-repo-ubuntu1704-9-0-local_9.0.176-1_amd64-deb
Resolving developer.nvidia.com (developer.nvidia.com)... 152.195.19.142
Connecting to developer.nvidia.com (developer.nvidia.com)|152.195.19.142|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://developer.nvidia.com/compute/cuda/9.0/prod/local_installers/cuda-repo-ubuntu1704-9-0-local_9.0.176-1_amd64-deb [following]
--2022-01-27 12:48:58--  https://developer.nvidia.com/compute/cuda/9.0/prod/local_installers/cuda-repo-ubuntu1704-9-0-local_9.0.176-1_amd64-deb
Reusing existing connection to developer.nvidia.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://developer.download.nvidia.com/compute/cuda/9.0/secure/Prod/local_installers/cuda-repo-ubuntu1704-9-0-local_9.0.176-1_amd64.deb?ugIiUboWlO15LIIZ9O54kZL4yFJ5_egZduubHAgtNrdKFWhVJXDJ9EIqvKXUNSVAkz37OLrm9bNWEepStaA-wYdjf7DZ91DS5Pjp8jHMjNz_d52ohb2LXZyahfB4HQRZVK1k5YWLSGIt1d2c5LdCfqyJT09PtR1GlnLE8aeL0epl_3-H1dW8Qqk_AfaQSqxwFVRzUxDS1eyPfwtNGq8s [following]
--2022-01-27 12:48:58--  https://developer.download.nvidia.com/compute/cuda/9.0/secure/Prod/local_installers/cuda-repo-ubuntu1704-9-0-local_9.0.176-1_amd64.deb?ugIiUboWlO15LIIZ9O54kZL4yFJ5_egZduubHAgtNrdKFWhVJXDJ9EIqvKXUNSVAkz37OLrm9bNWEepStaA-wYdjf7DZ91DS5Pjp8jHMjNz_d52ohb2LXZyahfB4HQRZVK1k5YWLSGIt1d2c5LdCfqyJT09PtR1GlnLE8aeL0epl_3-H1dW8Qqk_AfaQSqxwFVRzUxDS1eyPfwtNGq8s
Resolving developer.download.nvidia.com (developer.download.nvidia.com)... 152.195.19.142
Connecting to developer.download.nvidia.com (developer.download.nvidia.com)|152.195.19.142|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1216133170 (1.1G) [application/x-deb]
Saving to: ‘cuda-repo-ubuntu1704-9-0-local_9.0.176-1_amd64-deb’

cuda-repo-ubuntu170 100%[===================>]   1.13G   255MB/s    in 4.6s

2022-01-27 12:49:03 (250 MB/s) - ‘cuda-repo-ubuntu1704-9-0-local_9.0.176-1_amd64-deb’ saved [1216133170/1216133170]

cuda-repo-ubuntu1704-9-0-local_9.0.176-1_amd64-deb  drive  sample_data
(Reading database ... 164541 files and directories currently installed.)
Preparing to unpack cuda-repo-ubuntu1704-9-0-local_9.0.176-1_amd64-deb ...
Unpacking cuda-repo-ubuntu1704-9-0-local (9.0.176-1) over (9.0.176-1) ...
^C
7fa2af80.pub
OK
Get:1 file:/var/cuda-repo-9-0-local  InRelease
Ign:1 file:/var/cuda-repo-9-0-local  InRelease
Get:2 file:/var/cuda-repo-9-0-local  Release [574 B]
Get:2 file:/var/cuda-repo-9-0-local  Release [574 B]
Hit:3 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:4 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Ign:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:11 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:12 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:13 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:15 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:16 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done
E: dpkg was interrupted, you must manually run 'sudo dpkg --configure -a' to correct the problem.

In [2]:
!nvcc --version

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2017 NVIDIA Corporation
Built on Fri_Sep__1_21:08:03_CDT_2017
Cuda compilation tools, release 9.0, V9.0.176

In [3]:
!pip install thundersvm

Requirement already satisfied: thundersvm in /usr/local/lib/python3.7/dist-packages (0.3.12)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from thundersvm) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from thundersvm) (1.19.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from thundersvm) (1.0.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->thundersvm) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->thundersvm) (3.0.0)

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
import numpy as np
import pandas as pd
from thundersvm import SVC
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler

In [2]:
def scaling(df):
    '''This function will scale the data using Standard Scaler'''
    scale = StandardScaler()
    col = df.columns
    df = pd.DataFrame(scale.fit_transform(df))
    df.columns = col
    return df

In [3]:
df = pd.read_csv('/content/drive/MyDrive/WiproCompetetion/train.csv')
df.head()

   Year  Month  Day  ...  Wind Direction  Wind Speed  Fill Flag
0  2009      1    1  ...           346.1         3.1          0
1  2009      1    1  ...           346.1         3.1          0
2  2009      1    1  ...           347.9         3.2          0
3  2009      1    1  ...           347.9         3.1          0
4  2009      1    1  ...           350.0         3.0          0

[5 rows x 18 columns]

In [4]:
df.isnull().sum()

Year                  0
Month                 0
Day                   0
Hour                  0
Minute                0
Clearsky DHI          0
Clearsky DNI          0
Clearsky GHI          0
Cloud Type            0
Dew Point             0
Temperature           0
Pressure              0
Relative Humidity     0
Solar Zenith Angle    0
Precipitable Water    0
Wind Direction        0
Wind Speed            0
Fill Flag             0
dtype: int64

In [5]:
df.describe()

                Year          Month  ...     Wind Speed      Fill Flag
count  175296.000000  175296.000000  ...  175296.000000  175296.000000
mean     2013.500274       6.523549  ...       2.262871       0.740433
std         2.871908       3.448543  ...       1.281902       6.575655
min      2009.000000       1.000000  ...       0.000000       0.000000
25%      2011.000000       4.000000  ...       1.300000       0.000000
50%      2013.500000       7.000000  ...       2.000000       0.000000
75%      2016.000000      10.000000  ...       3.000000       0.000000
max      2018.000000      12.000000  ...      12.900000     100.000000

[8 rows x 18 columns]

In [6]:
X_train = df.drop(['Clearsky DHI', 'Clearsky DNI', 'Clearsky GHI','Year','Month','Day','Minute','Cloud Type','Pressure','Wind Direction','Fill Flag'], axis=1)
y1 = df['Clearsky DHI']
y2 = df['Clearsky DNI']
y3 = df['Clearsky GHI']

In [7]:
X_train = scaling(X_train)

In [8]:
from thundersvm.thundersvm import SvmModel
model1 = model2 = model3 = RandomForestRegressor()

In [9]:
print("Training model")
print("Model 1 started")
model1.fit(X_train,y1)
print("Model 1 ended")
print("Model 2 started")
model2.fit(X_train,y2)
print("Model 2 ended")
print("Model 3 started")
model3.fit(X_train,y3)
print("Model 3 ended")
print("Training done..")

Training model
Model 1 started
Model 1 ended
Model 2 started
Model 2 ended
Model 3 started
Model 3 ended
Training done..

In [10]:
import pickle

filename1 = 'finalized_model1.sav'
filename2 = 'finalized_model2.sav'
filename3 = 'finalized_model3.sav'
pickle.dump(model1, open(filename1, 'wb'))
pickle.dump(model1, open(filename2, 'wb'))
pickle.dump(model1, open(filename3, 'wb'))

In [11]:
test = pd.read_csv('/content/drive/MyDrive/WiproCompetetion//test.csv')
test.head()

   Year  Month  Day  Hour  ...  Fill Flag  Clearsky DHI  Clearsky DNI  Clearsky GHI
0  2019      1    1     0  ...          0           NaN           NaN           NaN
1  2019      1    1     0  ...          0           NaN           NaN           NaN
2  2019      1    1     1  ...          0           NaN           NaN           NaN
3  2019      1    1     1  ...          0           NaN           NaN           NaN
4  2019      1    1     2  ...          0           NaN           NaN           NaN

[5 rows x 18 columns]

In [15]:
X_test = test.drop(['Clearsky DHI', 'Clearsky DNI', 'Clearsky GHI','Year','Month','Day','Minute','Cloud Type','Pressure','Wind Direction','Fill Flag'], axis=1)

X_test = scaling(X_test)

In [ ]:
import pickle
loaded_model = pickle.load(open('finalized_model1.sav', 'rb'))
result1 = loaded_model.score(X_test,y1)

In [16]:
pred1 = model1.predict(X_test).astype('int32')
pred2 = model2.predict(X_test).astype('int32')
pred3 = model3.predict(X_test).astype('int32')

In [17]:
test['Clearsky DHI'] = pred1
test['Clearsky DNI'] = pred2
test['Clearsky GHI'] = pred3

In [18]:
submission = test[['Clearsky DHI', 'Clearsky DNI', 'Clearsky GHI']]
submission.to_csv('submission.csv', index=False)

In [21]:
mean_squared_error(pred1, X_test)

ValueError: ignored